.container {
  display: flex;
  justify-content: space-around;
  background-color: pink;
  height: 500px;
  width: 811px;
}

.block {
  height: 310px;
  width: 310px;
  background-color:deeppink;

  text-align: center;
}










