.container {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  height: 530px;
  width: 830px;
}

.block {
  height: 300px;
  width: 300px;
  background-color: pink;

}

.block {
  height: 330px;
  width: 330px;
  background-color:deeppink;
  text-align: center;}



