.container {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  height: 560px;
  width: 860px;
}

.block {
  height: 300px;
  width: 300px;
  background-color: pink;
  text-align: center;
}










